<div class="md:px-3 h-[26.8rem] pt-12 md:pl-44 lg:pl-72 lg:pt-[4rem] my-20 ">
    <!-- Main Div -> Form -->
    <div>
        <div
            class="hover:shadow-xl hover:transition-all p-2 flex justify-center rounded-xl bg-white md:mx-24 lg:mx-48 mb-2">
            <form [formGroup]="changePasswordForm" action="" (ngSubmit)="onSubmit()">
                <!-- Title -->
                <div class="flex justify-center pt-3 -mb-5">
                    <h1>Change Password</h1>
                </div>
                <!-- Main Form -->
                <div class=" p-5 mb-4">
                    <!-- New Password -->
                    <div class="p-4 flex justify-center flex-col">
                        <input formControlName="password" class="bg-gray-200 h-8 w-52 focus:outline-none p-2 rounded-lg"
                            type="password" placeholder="New Password">
                        <div *ngIf="changePasswordForm.get('password')?.hasError('required') && changePasswordForm.get('password')?.touched"
                            class="text-red-500 mt-1">
                            Password is Required
                        </div>

                    </div>
                    <!-- Confirm Password -->
                    <div class="p-4 flex justify-center flex-col mt-1">
                        <input formControlName="confirmPassword"
                            class="bg-gray-200 h-8 p-2 focus:outline-none rounded-lg" type="password"
                            placeholder="Confirm New Password">
                        <div *ngIf="changePasswordForm.get('confirmPassword')?.touched || changePasswordForm.get('confirmPassword')?.hasError('minLength')"
                            class="text-red-500 mt-1">
                            Confirm Password is Required
                        </div>
                        <div *ngIf="!checkPassword() " class="text-red-500 mt-1">
                            Password doesnot match.
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="flex justify-center mt-4">
                        <button class="bg-blue-700 h-8 px-4 rounded-lg hover:bg-blue-600 text-white">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>