
<div class="h-[100vh] bg-gray-100 flex flex-col justify-center items-center">
<form class="w-[75%] h-[56%] flex flex-col items-center border border-gray-300 rounded-2xl bg-white hover:bg-gray-200 md:w-[25%] md:h-[42%] "
  #forgotPassword="ngForm" (ngSubmit)="onSubmit(forgotPassword)" [ngClass]="{'h-[40%] md:h-[36%]':!emailVerify,'h-[45%] md:h-[40%]':showOtp ,'h-[65%] md:h-[48%]':otpVerify}">
    <div class="forgot mt-4 h-8">
        <h1 class=" font text-center text-black ">Forgot Password</h1>
    </div>
    <div class="mt-5">
        <input class="h-7 rounded-md bg-gray-100 px-3 placeholder-sky-600" type="email" id="emailId" name="emailId" placeholder="Email Id *" [(ngModel)]="emailId" #emailInput="ngModel" required >
    </div>
    <span *ngIf="emailInput.invalid && emailInput.touched" class="mt-3 text-red-400">Email Required</span> 
     <!-- <span *ngIf="forgotPassword.controls['emailId']invalid" class="mt-2 text-red-400">Email is Required </span>  -->
        <!-- <span *ngIf="forgotPassword.controls['emailId'].invalid || forgotPassword.controls['emailId'].touched" class="mt-3">Email is Required</span> -->
    <!-- <span *ngIf="!forgotPassword.controls['emailId'].valid && (forgotPassword.controls['emailId'].dirty || forgotPassword.controls['emailId'].touched)" -->
    <!-- class="text-red-500">Please enter a valid email address.</span> -->
    <div class="mt-4" *ngIf="showOtp">
       <input class="h-7 rounded-md bg-gray-100 px-3 placeholder-sky-600" type="text" id="otp" name="otp"  placeholder="Otp *" [(ngModel)]="otp" minlength="6" required pattern="[0-9]{6}"  >
    </div>
    <span *ngIf="showOtp && otpCheck()" class="mt-3 text-red-400">Enter your 6 digit Otp</span>
    <!-- <span *ngIf="forgotPassword.controls['otp'].invalid && (forgotPassword.controls['otp'].dirty || forgotPassword.controls['otp'].touched)"
                 class="text-red-500">OTP must be at least 6 characters long.</span> -->
    <div  class="mt-4" *ngIf="otpVerify">
        <input class="h-7 rounded-md bg-gray-100 px-3 placeholder-sky-600" type="password" id="newPassword" name="newPassword" placeholder="New Password *" [(ngModel)]="newPassword" minlength="8"  required #passwordInput="ngModel"> 
     </div>
     <span *ngIf="!passwordCheck() && otpVerify " class="mt-3 text-red-400"> Password must contains atleast 8 characters</span>
      <!-- <span *ngIf="passwordCheck() && forgotPassword.controls['password'].touched" class="text-red-400 text-center"> Password must be between 7 and 10 characters long.</span>   -->
      <!-- <span *ngIf="forgotPassword.controls['password'].touched" -->
     <!-- class="text-red-500">
    Password must be between 7 and 10 characters long. -->
     <!-- </span>  -->
     <div class="mt-4" *ngIf="otpVerify">
        <input class="h-7 rounded-md bg-gray-100 px-3 placeholder-sky-600" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password *" [(ngModel)]="confirmPassword"  required #confirmPasswordInput="ngModel">
     </div><br>
     <span *ngIf="passwordChange() && forgotPassword.controls['confirmPassword'].touched " class="text-center text-red-400">Confirm Password and Password must be same</span>
     <!-- <span *ngIf="!(password ===confirmPassword)">Password & Confirm Password must match</span> -->
      <!-- <span *ngIf="forgotPassword.controls['confirmPassword'].invalid && (forgotPassword.controls['confirmPassword'].dirty || forgotPassword.controls['confirmPassword']touched)"
                 class="text-red-500 text-center">Passwords must match.</span>  -->

    <div class="mt-2" [ngClass]="{'md:mt-2':showOtp ,'md:mt-3':otpVerify}">
        <button class=" rounded-md w-16 bg-gray-700 text-white h-7" type="submit" >Submit</button>
    </div>
</form>
</div>
