<!-- Alignment Div for fixed navbars -->
<!-- <div class="md:px-3 pt-12 pb-3 md:pl-48 lg:pl-72 lg:pt-[4rem]"> -->
    <div class="flex justify-center md:ml-44 items-center h-screen bg-gray-100">
        <div class="bg-white shadow-2xl rounded-md p-2 md:p-4">
            <div class="flex items-center p-2">
                <div class="text-center border-r p-3">
                    <!-- <img src="/assets/admin.png" alt="Admin Avatar" class="rounded-full w-24 h-24 mx-auto mb-2"> -->
                    <h2 class="text-xl font-semibold">{{this.userData.name}}</h2>
                    <p class="text-gray-600">{{this.userData.role}}</p>
                </div>
                <div class="p-2 mx-4">
                    <h3 class="text-lg font-semibold">Details</h3>
                    <p class="text-gray-700"><span class="font-semibold">Email:</span> {{this.userData.email}}</p>
                    <p class="text-gray-700"><span class="font-semibold">Phone:</span>{{this.userData.phoneNumber}}</p>
                </div>
            </div>
            <div class="px-20">
                    <button (click)="resetPassword()" class="bg-blue-500 p-3 text-white rounded-md hover:bg-blue-700">Change Password</button>
            </div>
        </div>
    </div>
<!-- </div> -->
