<div class="md:px-3 pt-12 md:pl-32 lg:pl-36 lg:pt-[0rem] flex justify-center">
    <div class="items-center justify-between mt-10">
        <div class="">
        <!-- Logo -->
        <div class="flex justify-center">
            <img class="w-32 h-32 border bg-white rounded-2xl shadow-md hover:shadow-2xl duration-300 p-2" src="https://www.svgrepo.com/show/354797/apple-app-store.svg" alt="">
        </div>
        </div>
        <!-- Content -->
        <div class="flex flex-col md:flex md:flex-row p-4">
            <!-- Heading -->
            <!-- main content -->
            <div class=" m-2 p-4 rounded-lg shadow-md hover:shadow-2xl duration-300 bg-white">
                <h1>Welcome to DotNet Store</h1>
                <p>Welcome to Dotnet Store, the ultimate destination for discovering and downloading apps. Find all your favorite apps in one place!</p>
            </div>
            <div class=" m-2 p-4 rounded-lg shadow-md hover:shadow-2xl duration-300 bg-white">
                <h1>Explore a vast selection of apps</h1>
                <p>At Dotnet Store, we offer a wide range of apps for you to explore and download.
                    From productivity tools to entertainment apps, we have something for everyone.</p>
            </div>
            <div class=" m-2 p-4 rounded-lg shadow-md hover:shadow-2xl duration-300 bg-white">
                <h1>Easy and convenient app downloads</h1>
                <p>With Dotnet Store, downloading apps is quick and hassle-free. Simply browse our app
                    marketplace, select the apps you want, and download them directly to your device.
                    Login</p>
            </div>
        </div>
    </div>
</div>