<div class="flex flex-col items-center w-[90%]  ml-10">
  <div class="relative ml-[87%]">
    <button class="bg-blue-500 hover:bg-blue-800 text-white font-medium py-2 flex items-center px-4 rounded" (click)="toggleDropdown()">
      Dashboard 
      <img src="https://cdn-icons-png.flaticon.com/128/8213/8213476.png" class="h-3 w-4 ml-2" *ngIf="!isDropdownOpen" alt="">
      <img src="https://cdn-icons-png.flaticon.com/128/8213/8213544.png" class="h-3 w-4 ml-2" *ngIf="isDropdownOpen" alt="">
    </button>
    <div *ngIf="isDropdownOpen" class="absolute z-10 mt-2 bg-white border rounded shadow-md">
      <button (click)="goTOAppDownloads()" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">App Downloads</button>
      <button (click)="goTOLogPage()" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Log Details</button>
      <button (click)="goToUser()" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">User Details</button>
    </div>
  </div>
  
      
      

      
    <div class="md:ml- text-sm mt-7 underline">
      <h2>App Downloads Statistics (Last 7 days)</h2>
    </div>
  
    <div class="chart-container  overflow-x-auto md:ml-32  md:py-20 md:h-[20%] w-[80%]  md:w-[60%]  ">
      <canvas id="appDownloadsChart"></canvas>
    </div>
  






 
  