<div *ngFor="let app of requestapps" class="mt-5 md:ml-40 mb-6  flex items-center p-4 rounded-lg hover:shadow-lg hover:scale-105 shadow-md bg-gray-100">
    <!-- Image -->
    <div class=" flex-none mr-4"> 
        <img [src]="app.imageUrl" class="h-20">
    </div>

    <!-- App Info -->
    <div class="flex-grow">
        <!-- Name -->
        <div class="ml-12">
            <h2>{{app.name}}</h2>
        </div>
        
        <!-- Category -->
        <div class="mt-1">
            <p class="font-semibold">Category: {{app.category}}</p>
        </div>

        <!-- Description -->
        <div class="mt-1">
            <p class="">{{app.Description}}</p>
        </div>

        <div class="mt-1 ml-16">
            <button (click)="viewRequest()" class="bg-blue-300 px-2 mb-3 mr-0 rounded-lg hover:scale-110">View</button>
        </div>
    </div>

    <!-- View Button -->
  
</div>
