<div class="md:w-[60%] md:ml-52">
<div class="ml-24 md:ml-[47%] underline">
    <h2>App Requests</h2>
</div>

<!-- Loading Indicator -->
<div *ngIf="isLoading" class="loader"></div>



<div *ngIf="!isLoading">
<div *ngIf="!(appRequests.length > 0)" class="font-semibold text-lg text-red-700 mt-40 ml-72">No Records found!!</div>

<div *ngFor="let app of appRequests"
    class="mt-5 md:ml-40 mb-6  flex items-center p-4 rounded-lg hover:shadow-lg hover:scale-105 shadow-md bg-gray-100">

    <!-- Image -->
    <div class=" flex-none mr-4">
        <img src="data:image/png;base64,{{app.logo}}" alt="logo" class="md:h-20 w-20 h-10">
    </div>

    <!-- App Info -->
    <div class="flex-grow">
        <!-- Name -->
        <div class="ml-12">
            <h2>{{app.name}}</h2>
        </div>

        <!-- Category -->
        <div class="mt-1">
            <p class="font-semibold">Category: {{app.category}}</p>
        </div>

        <!-- Description -->
        <div class="mt-1">
            <p class="">{{app.description}}</p>
        </div>

        <div class="mt-1 ml-16">
            <button (click)="viewRequest(app.appId)"
                class="bg-blue-300 px-2 mb-3 mr-0 rounded-lg hover:scale-110">View</button>
        </div>
    </div>

    <!-- View Button -->

</div>
</div>
</div>
