<div class="md:ml-32">
    <div class="md:ml-32 ml-10">
        <h1 class="text-3xl md:text-2xl lg:text-5xl text-black underline font-bold mb-4">Registered Users</h1>
    </div>    
    <div class="flex items-center mt-4 md:ml-24 ml-10">
        <input type="text" placeholder="Search the username or role "  class="px-4 py-2 w-60 mr-2 rounded-lg shadow-md border border-gray-300 focus:outline-none focus:ring focus:border-blue-300" [(ngModel)]="searchUsers" (keyup)="applyFilter()">
        <!-- <button class="bg-blue-500 text-white py-2 px-4 rounded-lg">Search</button> -->
    </div>

    <div class="overflow-x-auto mt-4 shadow-xl border border-gray-300 rounded-s">
        <table mat-table [dataSource]="dataSource" class="min-w-full ">
            <ng-container matColumnDef="Username">
                <th mat-header-cell *matHeaderCellDef class="bg-black text-black"> User Name </th>
                <td mat-cell *matCellDef="let user"> {{ user.Username }} </td>
            </ng-container>
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef class="bg-black text-black"> Email id </th>
                <td mat-cell *matCellDef="let user"> {{ user.Email }} </td>
            </ng-container>
            <ng-container matColumnDef="Role">
                <th mat-header-cell *matHeaderCellDef class="bg-black text-black"> Role </th>
                <td mat-cell *matCellDef="let user"> {{ user.Role }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Pagination -->
        <mat-paginator [pageSizeOptions]="[5,10,20] "></mat-paginator>
    </div>
</div>
