.text{
    font-size:4rem;
    font-weight:bolder;
}
.textSmall
{
    font-size: 2rem;
    font-weight: bold;
}
.quotes{
    font-size: larger;
    font-weight:bolder;
}
.wideText{
    font-size: large;
    // word-spacing: 0.5em;
}
.description
{
    font-size: xx-large;
    font-weight: bolder;
}
.details{
    font-size: large;
    font-weight: 700;
}