<div>
<div class="md:flex md:flex-row justify-between flex-col md:ml-16 md:p-0 p-2">
    <div class="mt-2 md:ml-0 ml-16">
        <input type="text" placeholder="sort by username"
            class="bg-blue-300 rounded-md mr-5 py-2 px-3 placeholder-black" [(ngModel)]="filterDetails.userName"
            (input)="getAppLogs()">
    </div>

    <div class="mt-2 md:ml-0 ml-16">
        <input type="date" class="bg-blue-300 mr-5 py-2 px-3 placeholder-black rounded-md" placeholder="sort by Date"
            [(ngModel)]="filterDetails.fromDate" (input)="getAppLogs()">
    </div>

    <div class="mt-2 md:ml-0 ml-16">
        <input type="date" class="bg-blue-300 mr-5 py-2 px-3 placeholder-black rounded-md" placeholder="sort by Date"
            [(ngModel)]="filterDetails.downloadedDate" (input)="getAppLogs()">
    </div>

    <div class="mt-2 md:ml-0 ml-16">
        <input type="text" class="bg-blue-300 mr-5 py-2 px-3 placeholder-black rounded-md" placeholder="sort by App"
            [(ngModel)]="filterDetails.appName" (input)="getAppLogs()">
    </div>
    <!-- <button class="bg-black rounded-md px-4 md:mt-2 mt-4 md:ml-0 ml-28 text-white"
        (click)="getAppLogs()">Search</button> -->
</div>

<!-- table view -->
<div *ngIf="isLogFound; else nodata" class="overflow-x-auto mt-8 md:ml-48 max-w-full">
    <table class="border border-black shadow-lg">
        <thead class="bg-black text-white">
            <tr>
                <th class="px-6 py-4">User Name</th>
                <th class="px-6 py-4">Date</th>
                <th class="px-6 py-4">App Name</th>
            </tr>
        </thead>
        <tbody class="bg-gray-50">
            <tr *ngFor="let user of appLogDetails">
                <td class="px-6 py-4">{{ user.userName }}</td>
                <td class="px-6 py-4">{{ user.downloadedDate }}</td>
                <td class="px-6 py-4">{{ user.appName }}</td>
            </tr>
        </tbody>
    </table>
    <div>
    
</div>
</div>
<ng-template #nodata>
    <span class="flex justify-center mt-10 font-semibold ml-36">{{errorMessage}}</span>
</ng-template>


</div>